@contacts-background-color: #ffffff;

.contacts {
  box-sizing: border-box;
  padding-top: 55px;
  padding-left: 43px;
  padding-right: 36px;
  padding-bottom: 10px;
  background-color: @contacts-background-color;
}
