@basic-color-download: #ffffff;

.download {
  box-sizing: border-box;
  color: @basic-color-download;
  background-image: url"(../img/back-mobile.png)";
  background-repeat: no-repeat;
  padding: 95px 20px 38px;
}
