.header {
  width: 320px;
  box-sizing: border-box;
  padding: 21px 20px;
  background-color: rgba(@basic-black-rgb, 0.1);

  @media (min-width: @tablet-width) {
    width: 660px;
    padding: 43px 20px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    padding: 48px 130px;
  }
}
