.main-nav {
  font-weight: 700;
  font-size: @font-medium;
  line-height: 32px;
}

.main-nav__toggle {
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-nav__list {
  .reset-list-style();
  text-align: center;

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 620px;
    font-weight: 400;
  }
}

.main-nav__list-item a {
  text-decoration: none;
  text-transform: uppercase;
  color: @color-main;
}
