.research {
  background-color: @color-main;
}

.research__heading {
  font-weight: 700;
  font-size: @font-large;
  line-height: 36px;
  color: @basic-black;
}

.research__link-more {
  color: @color-tertiary;
}
