.reviews {
  line-height: 30px;
  padding: 50px 20px 60px;
  background-color: @color-main;
}

.reviews__author {
  font-style: normal;
  font-weight: 700;
  font-size: @font-medium;
  color: @basic-black;
}
