.tariff-list {
  box-sizing: border-box;
  line-height: 30px;
  padding-bottom: 49px;
  background-color: @grey;
  background-image: url(../img/grey_background.png);
  background-repeat: no-repeat;
}

.tariff-list__title {
  font-weight: bold;
  font-size: @font-bigger-main;
  color: @color-main;
}

.tariff-list__title-description {
  font-size: @font-medium;
  text-transform: uppercase;
  color: @color-main;
}
