.user-photo-list {
  .reset-list-style();
}

.user-photo-list__time {
  font-weight: 300;
  font-size: @font-small;
}

.user-photo-list__button-like,
.user-photo-list__counter {
  font-size: @font-small;
  color: @color-tertiary;
}

.user-photo-list__button-like {
  border-style: none;
  background: none;
}
